.cor-buttons-card{
    background-color:#243665;
    color:#fff;
}


.cor-card-formulario{

    background-color:#8bd8bd;
    color:#243665;

}


.margem-button-enviar{
    margin-left:1%;
}

.margem-buttons-card{
    margin-left:35%;
}

.margem-card{
    margin-top:2%;
}

.margem-texto-card{
    text-align:center;
}

