.branco{
    color:#fff;    
}

.cor-de-fundo{
    
    background-color:#243665;
    
}


#example{
    width:20%;
    margin-left:78%;
    margin-top:-50%;
    
    height:410px;
    overflow: hidden;
    border-radius:20%;
}


.frase-exemplo{
    margin-left:25%;
    margin-right:25%;
    margin-top:55%;
    width:50%;
}

.label-width{
    
    width:30%;
    height:50px;
    
    margin-left:32%;
    margin-top:5%;
    
    
}

.imagem-perfil-borda{
    border-radius:50%;
    margin-left:40%;
    
}

.name-width{
    
    width:30%;
    height:50px;
    
    margin-left:32%;
    margin-top:1%;
    
    
    color:#000;
}

.nome-do-boneco{
    margin-top:2%;
    margin-left:44%;
    color:#fff;
}


.temas{
    width:100%;
    height:100px;
    font-size:200%;
}

.titulo-temas{
    font-size:50px;
    color:#fff;
    margin-left:40%
}












