/*
Black & Yellow

*/
.black-orange{
    background-color:#161B21;
    color:#F4A950;
}

.black-red{
    
    Background-color:#1D1B1B;
    color:#EC4D37;
}


.black-yellow{
    
    Background-color:#292826;
    color:#F9D342;
}

.blue-green{
    
    Background-color:#4831D4;
    color:#CCF381;
}

.blue-pink{
    background-color:#080A52;
    color:#EB2188;
}


.blue-turquoise{
    background-color:#243665;
    color:#8BD8BD;
}

.blue-white{
    background-color:#8AAAE5;
    color:#FFF;
}


.button-width{
    
    width:100%;
    height:80px;
    margin-top:2%;
    
}

.orange-blue{
    background-color:#EC8B5E;
    color:#141A46;
}

.orange-purple{
    
    Background-color:#F0A07C;
    color:#4A27AF;
}




.purple-pink{
    
    Background-color:#3D155F;
    color:#DF678C;

   
}

.purple-yellow{
    
    Background-color:#3C1A5B;
    color:#FFF748;
}


.yellow-green{
    background-color:#FFE67C;
    color:#295F2D;
}

.yellow-red{
    
    Background-color:#F96167;
    color:#FCE77D;
}

