/*
Black & Yellow

*/
.black-orange{
    background-color:#161B21;
    color:#F4A950;
}

.black-red{
    
    Background-color:#1D1B1B;
    color:#EC4D37;
}


.black-yellow{
    
    Background-color:#292826;
    color:#F9D342;
}

.blue-green{
    
    Background-color:#4831D4;
    color:#CCF381;
}

.blue-pink{
    background-color:#080A52;
    color:#EB2188;
}


.blue-turquoise{
    background-color:#243665;
    color:#8BD8BD;
}

.blue-white{
    background-color:#8AAAE5;
    color:#FFF;
}


.button-width{
    
    width:100%;
    height:80px;
    margin-top:2%;
    
}

.orange-blue{
    background-color:#EC8B5E;
    color:#141A46;
}

.orange-purple{
    
    Background-color:#F0A07C;
    color:#4A27AF;
}




.purple-pink{
    
    Background-color:#3D155F;
    color:#DF678C;

   
}

.purple-yellow{
    
    Background-color:#3C1A5B;
    color:#FFF748;
}


.yellow-green{
    background-color:#FFE67C;
    color:#295F2D;
}

.yellow-red{
    
    Background:#F96167;
    color:#FCE77D;
}



/* 

EM OBRAS, ESTOU CRIANDO UMA MANEIRA DE O BOTÃO FICAR IGUAL A COR DO TEMA DO USUARIO



*/

.mudei-botao {
    color: #fff;
    background-color: #0f0;
    border-color: #2e6da4;
    font-size:2rem;
  }
  .mudei-botao:focus,
  .mudei-botao.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
  }
  .mudei-botao:hover {
    color: #fff;
    background-color: #0f0;
    border-color: #204d74;
  }
  .mudei-botao:active,
  .mudei-botao.active,
  .open > .dropdown-toggle.mudei-botao {
    color: #fff;
    background-color: #0f0;
    border-color: #204d74;
  }
  .mudei-botao:active:hover,
  .mudei-botao.active:hover,
  .open > .dropdown-toggle.mudei-botao:hover,
  .mudei-botao:active:focus,
  .mudei-botao.active:focus,
  .open > .dropdown-toggle.mudei-botao:focus,
  .mudei-botao:active.focus,
  .mudei-botao.active.focus,
  .open > .dropdown-toggle.mudei-botao.focus {
    color: #fff;
    background-color: #0f0;
    border-color: #122b40;
  }
  .mudei-botao:active,
  .mudei-botao.active,
  .open > .dropdown-toggle.mudei-botao {
    background-image: none;
  }
  .mudei-botao.disabled:hover,
  .mudei-botao[disabled]:hover,
  fieldset[disabled] .mudei-botao:hover,
  .mudei-botao.disabled:focus,
  .mudei-botao[disabled]:focus,
  fieldset[disabled] .mudei-botao:focus,
  .mudei-botao.disabled.focus,
  .mudei-botao[disabled].focus,
  fieldset[disabled] .mudei-botao.focus {
    background-color: #0f0;
    border-color: #2e6da4;
  }
  .mudei-botao .badge {
    color: #337ab7;
    background-color: #fff;
  }


  .botao {
    
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .botao {
      transition: none;
    }
  }
  
  .botao:hover {
    color:#ff0; 
    text-decoration: none;
  }
  
  .botao:focus, .botao.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .botao.disabled, .botao:disabled {
    opacity: 0.65;
  }
  
  a.botao.disabled,
  fieldset:disabled a.botao {
    pointer-events: none;
  }